html, body {
    width: 100%;
    height: 100%;
    background-color: #F9F9F9;
}

div#root {
    width: 100%;
    height: 100%;
}

.App {
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}